@import "~simple-look/src/core/shadow"
@import "~flexstyl/flex"

ul
  padding 0
  list-style-type none

  &.small
    flex styl
    flex 'wrap'

:host
  padding-bottom 1em
  margin 5em

  max-width 50em

  border-radius .3em
  background #eee
  overflow hidden
  shadow .4

ul
  overflow-y scroll
  max-height 55vh

h1
  background teal
  padding 1em
  margin 0
  color #fff

h3
  margin .25em
  padding 0 1em